@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Compare APRA returns</h1>
    <p class="lead">This tool lets you upload and compare up to 8 APRA returns.  This will enable you to identify trends in data, answer APRA validation questions on movements, and to check for missed entries.</p>
</div>

<div class="row">
      
</div>